<div class="contact_entry clearleft">
  <div class="col-xs-12">
      <div class="col-xs-4">
        <label>Subject: </label>
      </div>
      <div class="col-2x-8">
        <%= @entry.subject.html_safe %>
      </div>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-4">
      <label>Email: </label>
    </div>
    <div class="col-2x-8">
      <%= @entry.email.html_safe %>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="col-xs-4">
      <label>IP Address: </label>
    </div>
    <div class="col-2x-8">
      <%= @entry.ip_address.to_s.html_safe %>
    </div>
  </div>

  <div class="col-xs-12">
      <div class="col-xs-12">
        <label>Message: </label>
      </div>
      <div class="col-xs-12">
        <%= @entry.message.html_safe %>
      </div>
  </div>
</div>