<div class="block contact-info">
  <div class="block-title">
    <h2><strong>Entries</strong></h2>
  </div>
  <div class="content clearfix">
      <div class="col-md-3 bold">
        <strong>Name:</strong>
        </div>
      <div class="col-md-3">
        Raj
      </div>
  </div>
  <div class="content clearfix">
    <div class="col-md-3 bold">
      <strong>Email:</strong>
    </div>
    <div class="col-md-3">
      flarecore@gmail.com
    </div>
  </div>
  <div class="content clearfix">
    <div class="col-md-3 bold">
      <strong>IP Address</strong>
    </div>
    <div class="col-md-3">
      10.16.1.215
    </div>
  </div>
  <div class="content clearfix">
    <div class="col-md-12 bold">
      <strong>Content:</strong>
    </div>
    <div class="col-md-12">
      10.16.1.215
    </div>
  </div>
  <blockquote>
    This is the content of the message.
  </blockquote>
  <div class="form-group form-actions">
    <%= link_to '/admin/contact_entries', :class => 'btn btn-sm btn-primary' do %>
        <i class="fa fa-angle-left"></i> Back
    <% end %>
  </div>
</div>