<div class="content-header">
  <div class="header-section">
    <h1>
      <i class="gi gi-notes_2"></i>Manage Pages<br><small>Master record of settings for all pages. </small>
    </h1>
  </div>
</div>


<div class="block">
  <!-- Basic Form Elements Title -->
  <div class="block-title pages-list-title">

    <h2><strong>All Pages</strong></h2>

    <%= link_to '/admin/pages/add', :class => 'btn pull-right btn-sm btn-success' do %>
        <i class="fa fa-plus"></i> New</button>
    <% end %>
  </div>
  <!-- END Form Elements Title -->

</div>