.angularfeed.portfolio-piece {
  margin: 2rem 0 10rem 0 ;
}
.angularfeed.portfolio-piece .teaser {
  float: left;
  width: 30%;
  min-height: 35rem;
}
.angularfeed.portfolio-piece .teaser {
  width: 350px;
  height: 350px;
  float: left;
}
