.wpa.single-portfolio-piece {
  width: 80%;
}
.wpa.single-portfolio-piece h1 {
  color: #000;
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}
.wpa.single-portfolio-piece .javelin-directory-listing {
  width: 80% !important;
  margin: 0 auto;
  display: block;
}
