div.essays {
  max-width: 1280px;
  margin: 10rem auto 5rem auto;
  h1.latest {
    font-size: 2.5rem;
  }
  article {
    margin-bottom: 5rem;
  }


  .switch {
    ul {
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
        margin-right: 2rem;
        padding: 0.5rem 1rem;
        &:hover {
          background-color: #eee;
        }
      }
    }
  }

  h2 {
    letter-spacing: normal;
  }

  h1 {
    letter-spacing: normal;
    font-size: 3rem;
    text-align: center;
  }
  .latest-list {
    li {
      padding: 0;
      margin: 0;
      a {
        font-size: 1.5rem;


      }
    }
  }
}
