.single-post {
  .post-header {
    a {
      font-family: $globalFont;
      text-decoration: none;
      color: #2e79cc;
      text-align: center;
      font-size: 3.8rem;
      display: block;
    }
  }
}