@import "../mixins";

div.topics {
  main {
    width: 100%;
  }
  .topics-view {
    .clearfix;
    .left {
      float: left;
      width: 30rem;
      .back {
        display: none;
        font-weight: bold;
        font-size: 1.3rem;
        cursor: pointer;
        background: url("images/topics-nav-back.png") no-repeat 0.2rem 0.5rem;
        border-radius: 0.2rem;
        background-size: 1rem 1rem;
        padding: 0.3rem;
        padding-left: 2rem;
        margin-bottom: 1rem;
        &:hover {
          background-color: #eee;

        }
      }


      ul {
        list-style: none;
        padding: 0;
      }
      > ul {
        margin: 0;

        >ul.second-level {
          padding-left: 4rem;
          margin-bottom: 1rem;
          position: relative;

          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 2rem;
            top: 0;
            bottom: 1rem;
            width: 1px;
            background-color: #eee;
          }
          li {
            font-size: 1.3rem;
            margin: 0.2rem 0;
            padding: 0.5rem 1rem;
            cursor: pointer;
            border-radius: 0.3rem;
            position: relative;


            &.current {
              &:after {
                top: 0.9rem;
              }
            }

            &:before {
              content: '';
              display: block;
              position: absolute;
              left: -2rem;
              top: 1.5rem;
              height: 0.1rem;
              width: 2rem;
              background-color: #eee;
            }

            &:hover {
              background-color: #eee;
            }

            &.more {
              background-color: #75a9e0;
              color: #fff;
              width: 5rem;

              &:hover {
                color: #fff;
                background-color: #000;
              }
            }
          }
        }

        li {
          &.current {
            $borderWidth: 0.5rem;
            border-right: $borderWidth solid #4a90d8;
            background-color: #eee;
            position: relative;
            &:after {
              content: '';
              $size: 0.4rem;
              border-left: $size solid #4a90d8;
              border-top: $size solid transparent;
              border-bottom: $size solid transparent;
              height: 0;
              width: 0;
              display: block;
              position: absolute;
              left: calc(100% #{"+"} $borderWidth);
              top: calc(50% #{"-"} $size/2) ;
            }
          }
        }

        > li {
          border-radius: 0.3rem;
          padding: 0.3rem 0.3rem 0.3rem 1rem;

          a {
            font-size: 2rem;
            display: inline-block;
            padding: 1rem;
            color: #4a90d8;
          }

          &:hover {
            background-color: #eee;
          }

          p {
            font-size: 1.3rem;
            padding-left: 1rem;
          }
        }
      }


    }

    .right {
      float: left;
      width: calc(100% #{"-"} 33rem);
      min-height: 20rem;
      padding-left: 3rem;
      $linkColor: #4a90d8;
      .post {
        h2 {
          margin: 0;

          a {
            font-size: 2.4rem;
            color: $linkColor;
            text-decoration: underline;
          }

        }
        .read-more {
          float: right;
          border: 0.1rem solid $linkColor;
          color: $linkColor;
          border-radius: 0.3rem;
          text-decoration: none;
          padding: 0.2rem 0.7rem;

          &:hover {
            background-color: $linkColor;
            color: #fff;
          }
        }
        p {
          font-size:1.4rem;
        }
        .clearfix;
      }


      &.loading {
        background-image: url("images/fbload.gif");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }

}