.archive.content {
  width: 70%;
  margin: 10rem auto 5rem auto;
  padding: 2rem;
  min-height: 500px;
}
.archive.content h2 {
  font-size: 2rem;
}
.archive.content h2 a {
  color: #0077b3;
  text-decoration: none;
}
.archive.content h2 {
  letter-spacing: normal;
}
.archive.content article {
  margin-bottom: 4rem;
}
.archive.content article main {
  font-size: 1.8rem;
}
.archive.content article .more {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  padding: 0.3rem 1rem;
  display: inline-block;
  background-color: #0077b3;
}
.archive.content article .more:hover {
  background-color: #009cee;
}
