a {
  color: #ff0000;
}
a:visited {
  color: #ff0000;
}
.wrapper {
  height: 100%;
}
img.aligncenter {
  display: block;
  margin: 0 auto;
}
.smaller {
  list-style: none;
  padding: 0;
}
.smaller li {
  display: inline-block;
}
.smaller li a {
  color: #fff;
  text-decoration: none;
  margin: 1rem 0.5rem;
}
.smaller li a:after {
  content: '|';
  margin-left: 1rem;
}
.smaller li a:hover {
  color: yellow;
}
.moderate-black-button {
  display: inline-block;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: #000;
}
.moderate-black-button:visited {
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
