.essays main {
  padding: 3rem;
  width: 70%;
  margin: 0 auto;
}
.essays main .articles {
  font-family: "proxima-nova-alt", Arial;
  margin: 0 0 10rem 0;
}
.essays main .articles .previous {
  float: left;
}
.essays main .articles .next {
  float: right;
}
.essays main .articles .previous a,
.essays main .articles .next a {
  text-decoration: none;
  font-size: 2rem;
  color: #0185d7;
}
.essays main .articles article {
  margin-bottom: 7rem;
}
.essays main .articles article h1 {
  text-align: center;
}
.essays main .articles article h1 a {
  text-align: center;
  font-size: 4rem;
  color: #1269d4;
  text-decoration: none;
  font-weight: normal;
}
.essays main .articles article .article-content {
  font-size: 1.8rem;
  line-height: 2.5rem;
}
.essays main .switch ul {
  list-style: none;
  padding: 0;
  margin: 2rem;
}
.essays main .switch ul li {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  margin: 0 1rem;
}
.essays main .switch ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
}
.essays main .switch ul li.current {
  background-color: #0185d7;
}
.essays main .switch ul li.current a {
  color: #fff;
}
