<% content_for :style do %>
    <%= stylesheet_link_tag "contact" %>
<% end %>

<% content_for :post_content do %>
 <% render "typekit" %>
<% end %>
<%= render "header" %>
<div class="contact-page">
    <div class="contact-thanks">
      <h2>THANK YOU! WILL BE IN TOUCH SOON</h2>
      Thank you for contacting me. I will be in touch with you as soon as possible.
    </div>
</div>