<% content_for :post_content do %>
    <%= javascript_include_tag 'home' %>
    <script src="http://use.typekit.net/iku8pjx.js"></script>s
    <script>try{Typekit.load();}catch(e){}</script>
<% end %>

<% content_for :style do %>
    <%= stylesheet_link_tag 'style' %>
<% end %>

<body id="bigWrapper" class="home" sdata-spy="scroll" data-target=".navbar-default" data-offset="100">

<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="50">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html#">NODESMAN</a>
      </div>

      <div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
        <%= render "navigation" %>
      </div>
    </div>
  </nav>
</header>

<div class="ip-header">
  <div class="ip-logo">
    <img class="img-responsive preloaderLogo center-block" src="assets/logoWhite.png" alt="preloader">
  </div>
  <div class="ip-loader">
    <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
      <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
      <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
    </svg>
  </div>
</div>

<div class="container overlay overlay-slidedown">

  <div class="row">

    <div class="overlay-section"></div>

    <div class="col-md-12 ">
      <a class="overlay-close">
        <br><br>
        <img class="img-responsive center-block" src="assets/xsep.png" alt="close image"  data-toggle="tooltip" title="Close">
      </a>
    </div>
  </div>
</div>

<section id="intro">
  <div class="black-overlay"></div>
  <div class="container valign">
    <div class="row">
      <div class="col-md-12">
        <img src="assets/me.png" class="img-responsive center-block introLogo" alt="Intro Logo">
      </div>
      <div class="col-md-12 text-center">
        <h1 class="main-title-heading">FRONT-END ENGINEER</h1>
      </div>

      <div class="col-md-12 text-center">
        <img src="assets/separatorWhite.png" class="img-responsive center-block separator" alt="separator">
      </div>


      <div class="col-md-6 col-md-offset-3 text-center">
        <p>
          I'm Raj. I create powerful web experiences.
        </p>

      </div>

    </div>
  </div>
</section>
<section id="about">
  <div class="container">
    <h1 class="parallaxLetter letter1" data-stellar-ratio="1.5" data-stellar-vertical-offset="0">P</h1>
    <h1 class="parallaxLetter letter2" data-stellar-ratio="0.5" data-stellar-vertical-offset="200">H</h1>
    <div class="row sectionIntro">
      <div class=" text-center">
        <h2 data-scroll-reveal="enter top move 10px over 1s after 0.2s">
          <span>WHAT CAN I DO FOR YOU?</span>
        </h2>

        <div class="points">
          <div class="item uidevelopment">
            <h2>Pixel Perfect, High Performance
              User Interfaces</h2>
            <p>Create pixel perfect implementations of user experience design elements.</p>
          </div>
          <div class="item backend">
            <h2>Back-end Integration</h2>
            <p>Integrate web UI in support of a wide variety of web application back-ends - J2EE, Rails, PHP based framework/CMS or .net MVC. </p>
          </div>
          <div class="item prototyping">
            <h2>Rapid Prototyping</h2>
            <p>My repertoire of tools and frameworks allows me to create live interactive web application prototypes really fast. </p>
          </div>
          <div class="item responsive">
            <h2>Responsive Web Development</h2>
            <p>Adapt web applications to multiple devices and operating systems.</p>
          </div>
          <div class="item bootstrap">
            <h2>Bootstrap Rescue</h2>
            <p>Rescue projects from the eventual tech debt created by prolonged use of frameworks such as Twitter Bootstrap</p>
          </div>
          <div class="item ux">
            <h2>User Experience Development</h2>
            <p>Augment the user experience development effort with the creation of concept UX deliverables based on established project standards.</p>
          </div>
        </div>
        <img src="assets/separatorBlack.png" class="img-responsive center-block separator" alt="separator">
      </div>
    </div>
    <h1 class="parallaxLetter letter3" data-stellar-ratio="1.5" data-stellar-vertical-offset="-600">X</h1>
    <h1 class="parallaxLetter letter4" data-stellar-ratio="0.8" data-stellar-vertical-offset="0">N</h1>
  </div>
</section>



<section id="featured-works">

  <div class="container">
    <!--header-->
    <div class="row sectionIntro">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 data-scroll-reveal="enter top move 10px over 1s after 0.2s">
          <span>Featured Work</span>
        </h2>

      </div>
    </div>

    <div class="row content">

      <div class="col-md-3 col-sm-12">
        <h4 data-scroll-reveal="enter left move 10px over 1s after 0.4s">Featured Work</h4>
        <img src="assets/lineSeparatorBlack.png" class="img-responsive lineSeparator" data-scroll-reveal="enter left move 10px over 1s after 0.3s" alt="separator">
      </div>

      <div class="col-md-9 col-sm-12" data-scroll-reveal="enter right move 10px over 1s after 0.2s">
        <div id="owl-featured" class="owl-carousel">
          <div class="featureWrapper">
            <div class="feature-inner">
              <img alt="thumbnail" class="galleryImage" src="assets/portfolio/angularfeed-excerpt.png">
              <div class="caption-heading">
                <h5>AngularFeed</h5>
                <p>AngularJs based RSS feed reader that works entirely off the browser. Uses Rails 4 for proxying requests for the feed content. </p>
                <a class="btn btn-default btn-black" id="trigger-overlay"  href="index.html?post_type=portfolio_piece&amp;p=176">More</a>
              </div>
            </div>
          </div>
          <div class="featureWrapper">
            <div class="feature-inner">
              <img alt="thumbnail" class="galleryImage" src="assets/portfolio/wpa-excerpt.png">
              <div class="caption-heading">
                <h5>WP Autoresponder</h5>
                <p>A complete Email Marketing application for WordPress that does everything</p>
                <a class="btn btn-default btn-black" id="trigger-overlay"  href="index.html?post_type=portfolio_piece&amp;p=89">More</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<section id="latest-posts">

  <div class="container">

    <div class="row content">

      <div class="col-md-3 col-sm-12">
        <h4 data-scroll-reveal="enter left move 10px over 1s after 0.4s">LATEST POSTS</h4>
        <img src="assets/lineSeparatorBlack.png" class="img-responsive lineSeparator" data-scroll-reveal="enter left move 10px over 1s after 0.3s" alt="separator">
      </div>

      <div class=" col-md-9 col-sm-12 posts-list" data-scroll-reveal="enter right move 10px over 1s after 0.2s">

        <div class="item">
          <a href="index.html?p=185"><h2>Making software is not easy</h2></a>
          <div>Creating a piece of software takes a given amount of time and resources. Attempting to make it for any less means something is compromised on either scope, quality or sustainability. </div>
        </div>
        <div class="item">
          <a href="index.html?p=172"><h2>How To Fetch The favicon.ico Of A Website Using Ruby?</h2></a>
          <div>In this post I discuss how to fetch the favicon of a website in a server-side ruby application.</div>
        </div>
        <div class="item">
          <a href="index.html?p=162"><h2>Require.js: The Async Module Loader for your code today</h2></a>
          <div>The number of front-end dependency management tools are increasing every day. Require.js is the front-end dependency management tool for today. It is the best tool for new code base as well as code you may already have written and are maintaining. This article goes into why. </div>
        </div>


      </div>

    </div>

  </div>
</section>


<script>

</script>

<section id="footer" class="dark">
  <div class="topLine">
    <div class="container">

      <div class="row">


        <div class="col-md-12 center-block footerText" data-scroll-reveal="enter left move 10px over 1s after 0.2s">
          <h4 data-scroll-reveal="enter left move 10px over 1s after 0.2s">SOCIAL</h4>

          <div class="row">

            <div class="col-md-12 icons-social">
              <a href="http://github.com/nodesman"><i class="fa fa-github-square"></i> Github</a>
              <a href="http://twitter.com/nodesman"><i class="fa fa-twitter"></i> Twitter</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottomLine text-center">
    <div class="backToTop">
      <a data-scroll href="index.html#">
        <i class="fa fa-angle-double-up"></i><br />
        <h5>Back to top</h5>
      </a>
    </div>
    <p class="bold">All Rights Reserved. </p>
  </div>
</section>
