@import (reference) "../../framework";
.wpa.excerpt.portfolio-piece {
  margin: 2rem 0 0 0 ;

  .clearfix;
  .teaser {
    float: left;
    width: 30%;
    min-height: 35rem;
  }



  .tag {
    font-size: 1.4rem;
  }
  .lead-text {
    padding: 0 0 0 2rem;
    float: left;
    width: 68%;

    .moderate-black-button {
      margin: 4rem 0 0 0;
    }

    .minor-blue-heading {
      font-size: 1.6rem;
      color: #105b9a;
      display: inline-block;
      margin: 0.5rem 0 0 0;

    }

    .stats {
      font-size: 1.5rem;
      color: #9a5410;
      margin: 0.5rem 0 0 0;
    }
    p {
      font-size: 1.6rem;
    }

    .features {
      ul {
        float: left;
        list-style:none;
        padding: 0;
        margin: 0;
        &:nth-of-type(2) {
          margin-left: 2rem;
        }
        li {
          padding-left: 2rem;
          position: relative;
          font-size: 1.3rem;
          line-height: 2rem;
          &:before {
            content: '-';
            position: absolute;
            top: 0rem;
            left: 0.8rem;

          }
        }
      }
      .clearfix;

    }
    .fecal-text {
      display: inline-block;
      margin: 0 1rem;
      &:nth-of-type(1) {
        margin-left: 0;
      }
    }
    h1 {
      font-size: 2.5rem;

      font-weight: normal;
    }
    float: left;
  }
}