.angularfeed.portfolio-piece {
  padding: 10rem 10rem 0 10rem ;
  width: 90%;
  margin: 0 auto;
  max-width: 1190px;
}
.angularfeed.portfolio-piece.excerpt {
  margin: 0 0 50px 0;
  padding: 0;
  max-width: none;
  width: 100%;
}
.angularfeed.portfolio-piece h1 {
  margin: 3rem 0;
}
.angularfeed.portfolio-piece .portfolio-hero {
  margin-bottom: 5rem;
}
.angularfeed.portfolio-piece .teaser {
  float: left;
  width: 30%;
  min-height: 35rem;
}
.angularfeed.portfolio-piece .teaser {
  float: left;
}
