$font: "proxima-nova-alt", Arial;

html, body {
  margin: 0;
  height: 100%;
  overflow: auto;
  font-family: $font;
}

:root {
  font-size: 10px;
}

@import "css/framework.scss";
@import "css/normalize.css";
@import "styles/bootstrap.css";

@import "styles/fontawesome";
@import "styles/main";
@import "mixins";
@import "styles/responsive.css";
@import "css/common";
