$font: "proxima-nova-alt", Arial;

html, body {
  margin: 0;
  height: 100%;
  overflow: auto;
  font-family: $font;
}

:root {
  font-size: 10px;
}

@import "css/framework.scss";
@import "lib/normalize.scss";
@import "styles/bootstrap.scss";

@import "styles/fontawesome";
@import "styles/main";
@import "mixins";
@import "styles/responsive";
@import "css/common";
