@import "base_includes";
@import "styles/wpa-full";
@import "portfolio/archive";
@import "fullpage.js/jquery.fullPage.scss";

.portfolio-hero {
  text-align: center;
}

.portfolio-list {

  #fp-nav ul li a span, .fp-slidesNav ul li a span {
    background-color: #fff;
  }

  .above-fold {
    position: relative;
    padding-top: 70px;
    @media screen and (max-width: 1024px) {
      h2.section-heading {
        font-size: 10vw;
        transition: font-size 0.3s ease-in;
      }
    }
  }

  .floating-content {
    font-family: $font;
    color: #fff;
    position: relative;
    top: 10%;
    .separator-container {
      text-align: center;
      img {
        display: inline-block;
        @media screen and (max-width: 1440px) {
          width: 10vw;
        }
      }
    }
    .section-heading {
      text-align: center;
    }
    h2 {
      @media screen and (max-width: 1600px) {
        font-size: 90px;
      }
      text-shadow: 0 0 3px #000;
      margin: 10px 0;
      padding: 0;
      line-height: 1em;
      font-family: "serifa";
      font-weight: bold;
    }

    p {
      color: #fff;
    }
  }

}

#portfolio .black-overlay {
  background: radial-gradient(ellipse at 0 64%, transparent 0%, black 100%);
}

.portfolio-wrapper, #portfolio {
  height: 100%;
}

#portfolio .above-fold {
  height: 100%;
}

#portfolio .items {
  background-color: #fff;
}

#portfolio .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.portfolio-wrapper {
}
