@import "base_includes";

.home {
  .down-arrow {
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    width: 204px;
    margin: auto;
  }

  nav {

  }

  .main-title-heading {
    text-shadow: 0 1px 1px #000;
  }
}

#about {
  .container {
    padding-bottom: 0;
  }

  .seperator {
    margin: 100px auto;
  }
}

#featured-works {
  padding-top: 20px;
  .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  h2 {
    text-transform: uppercase;
    font-size: 20px;
    color: #3f3f3f;
  }
  a:hover {
    text-decoration: underline;
  }
  .sectionIntro {
    margin: 0 0 50px 0;
  }
}

.points {
  padding: 50px 0 0 0;

  @include clearfix;

  .uidevelopment {
    background-image: asset-path("points/ui.png");
  }

  .backend {
    background-image: asset-path("points/backend.png");
    background-size: 100px;
  }

  .prototyping {
    background-image: asset-path("points/prototype.png");
  }

  .bootstrap {
    background-image: asset-path("points/rescue.png");
  }

  .responsive {
    background-image: asset-path("points/ipad.png");
    background-size: 80px;
    background-position-x: 20px;
  }

  .ux {
    background-image: asset-path("points/ux.png");
  }

  .item {
    float: left;
    width: 50%;
    padding: 3rem;
    padding-left: 150px;
    background-repeat: no-repeat;
    background-position: 30px 60%;

    &:nth-child(2n+1) {
      clear: left;
    }
    h2 {
      font-family: $font;
      font-size: 1.5rem;
      color: black;
      text-transform: none;
      letter-spacing: normal;
      text-align: left;
    }
    p {
      margin: 2rem 0 0 0;
      text-align: left;
    }
  }
}

#latest-posts {
  background-color: #fff;

  .container {
    padding: 100px 0;
  }

  .sectionIntro h2 {
    span {
      margin: 30px auto;
    }
  }

  .posts-list {
    .item {

      h2 {
        letter-spacing: normal;
        font-size: 1.8rem;

      }

    }
  }
}

.above-fold-image-loader {
  position: fixed;
  top: 0;
  width: 0;
  height: 0;
  left: 0;
  overflow: hidden;
}

@media (max-width: 700px) {
  .points .item {
    float: none;
    width: 100%;
    padding-top: 25px;
    background-position: 5% 45px;
  }
}