.search-results {

  .search-body {
    min-height: 50rem;
    margin: 10rem auto 10rem auto;
    max-width: 1280px;
    width: 90%;
  }

  .hentry {
    margin-left: 5rem;
  }

  h1, h2, h3 {
    letter-spacing: normal;

  }
}