<section id="footer" class="dark">
  <div class="topLine">
    <div class="container">

      <div class="row">


        <div class="col-md-12 center-block footerText">
          <h4>SOCIAL</h4>

          <div class="row">

            <div class="col-md-12 icons-social">
              <a href="http://github.com/nodesman"><i class="fa fa-github-square"></i> Github</a>
              <a href="http://twitter.com/nodesman"><i class="fa fa-twitter"></i> Twitter</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<%= render "typekit" %>