<section id="footer" class="dark">
  <div class="topLine">
    <div class="container">

      <div class="row">


        <div class="col-md-12 center-block footerText" data-scroll-reveal="enter left move 10px over 1s after 0.2s">
          <h4 data-scroll-reveal="enter left move 10px over 1s after 0.2s">SOCIAL</h4>

          <div class="row">

            <div class="col-md-12 icons-social">
              <a href="http://github.com/nodesman"><i class="fa fa-github-square"></i> Github</a>
              <a href="http://twitter.com/nodesman"><i class="fa fa-twitter"></i> Twitter</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottomLine text-center">
    <div class="backToTop">
      <a data-scroll href="#">
        <i class="fa fa-angle-double-up"></i><br />
        <h5>Back to top</h5>
      </a>
    </div>
    <p class="bold">All Rights Reserved. </p>
  </div>
</section>