<ul class="nav navbar-nav">
  <li><%= link_to "Articles", "/articles" %></li>
  <li><a data-scroll href="portfolio.html">Portfolio</a></li>
  <li><a data-scroll href="contact.html">Contact</a></li>
</ul>